[submodule "vendor/barev-odin"]
	path = vendor/barev-odin
	url = https://github.com/nerdyslacker/barev-odin.git
[submodule "vendor/skald"]
	path = vendor/skald
	url = https://github.com/nerdyslacker/Skald.git
